/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  list-style: none;
}

/* Variables */
:root {
  --shadow:	    0 2px 4px 0 rgba(0,0,0,0.10);
  --shadow-md:  0 4px 8px 0 rgba(0,0,0,0.12),
                  0 2px 4px 0 rgba(0,0,0,0.08);
  --shadow-lg:	0 15px 30px 0 rgba(0,0,0,0.11),
                  0 5px 15px 0 rgba(0,0,0,0.08);
  --orange-shadow-md:  0 4px 8px 0 rgba(254, 153, 83, 0.1),
                 0 2px 4px 0 rgba(254, 153, 83, 0.1);
  --blue: #B3CAE9;
  --dark-blue: #0D3B66;
  --orange: #FD9F60;
  --blond: #FAF0CA;
  --black: #09132C;
  --white: rgb(255, 255, 255);
  --offer-white: rgb(244, 244, 244);
  font-size:10px;
  }

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.heading {
font-size: 5rem;
margin: 0 auto;
font-family: 'ZCOOL XiaoWei', serif;
color: var(--black);
}
h2 {
  font-size: 2.5rem;
  font: bold;
  font-family: 'ZCOOL XiaoWei', serif;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center;
  color: var(--black);
}
h3 {
  font-size: 2rem;
  font: bold;
  font-family: 'ZCOOL XiaoWei', serif;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  color: var(--black);
}
.center-text {
  margin: 0 auto;
  font-size:1.25rem;
  text-align: center;
  padding: 0 5px;
  color: var(--black);
}
.italic {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--black);
}
.icon {
  font-size:5rem;
  color: var(--black);
}

.wrapper {
  height: 10000px;
  background: var(--offer-white);
  display: flex;
  flex-direction: column;
}
/* ~~~~~~~~~~~~~~~~ background ~~~~~~~~~~~~~~~~~~~ */
.background-image {
  background: #B3CAE9;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
/* ~~~~~~~~~~~~~~~~ navbar ~~~~~~~~~~~~~~~~~~~ */
.navbar {
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow);
  background:rgba(1, 1, 1, 0.5);
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar .navbar-wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}
/* ~~~~~~~~~~~~~~~~ navbar items ~~~~~~~~~~~~~~~~~~~ */
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  color: var(--offer-white);
  justify-content: space-between;
  margin: 0 10px;
}
.navbar .nav-items p {
  padding: 4px;
  font-size: 1.3em;
  border-radius: 10%;
  margin: auto;
}
.navbar .nav-items p:hover {
  background: var(--offer-white);
  color: black;
}
/* ~~~~~~~~~~~~~~~~ navbar links/icons ~~~~~~~~~~~~~~~~~~~ */
.navbar .links {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.navbar .links a {
  padding: 4px;
  font-size: 2rem;
  color: var(--offer-white);
  border-radius: 10%;
  margin: auto;
  margin-left: 5px;
}
.navbar .links a:hover {
  background: var(--offer-white);
  color: var(--black);
}
/* ~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~ */
.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.cut {
  border: 4px solid #09132C;
  text-align: left;
  background: linear-gradient(60deg, var(--offer-white) 50%, transparent 50%);
} 

.text {
  font-size: 6rem;
  padding: 3rem 7rem;
  margin: 0;
  background: linear-gradient(60deg, #09132C 50%,var(--offer-white) 50%);
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.fit-text {
  font-size: 2.25rem;
}

.intro {
  margin-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
  color: #09132C;
}

.angrytext {
  -webkit-animation: change-color 5s ease 2s infinite normal ;
  animation: change-color 5s ease 2s infinite normal ;
 }
 
 /* @-webkit-keyframes change-color {
   0%{
   color: black;
   }
   100%{
   color:white;
   }
 }
 
 @keyframes change-color {
   0%{
   color: black;
   }
   100%{
   color:white;
   }
 } */

/* -------------------- cube animation and styles ------------------- */
.cube {
  display: flex;
  margin: auto; 
  height: 10rem;
  width: 10rem;
  animation : spin 5s infinite linear;
  transform-style: preserve-3d;
}
@keyframes spin {
  from { transform: rotateY(0) rotateX(0); }
  to   { transform: rotateY(-360deg) rotateX(360deg); }
}
.cube > div {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border: 5px solid #09132C;
  
}
.cube > div:hover {
  opacity: 1;
  transition: opacity .3s linear;
}
.one { 
  transform: rotateX(90deg) translateZ(5rem); 
  background-color: var(--offer-white);
  
}
.two { 
  transform: translateZ(5rem); 
  background-color: var(--offer-white);
  
}
.three { 
  transform: rotateY(90deg) translateZ(5rem); 
  background-color: #FD9F60;
  
}
.four { 
  transform: rotateY(180deg) translateZ(5rem); 
  background-color: var(--offer-white);
  
}
.five { 
  transform: rotateY(-90deg) translateZ(5rem); 
  background-color: var(--offer-white);
  opacity: .3;
}
.six { 
  transform: rotateX(-90deg) translateZ(5rem); 
  background-color: var(--offer-white);
  opacity: .3;
}

/*------------------- PAGE 2 --------------------- */
.about-me-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.image-container {
  background: var(--blond);
  width: 100vw;
  height: 60%;
  display: flex;
}
.me {
  height: 250px;
  width: 250px;
  margin: 20px auto;
  margin-top: 20px;
  max-width: 400px;
  border-radius: 50%;
  background-size: auto;
  background-position: center;
}
.about-me-container {
  background: var(--white);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.about-me-text {
  /* margin: 20px; */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 500px;
}

/*------------------- PAGE 3 --------------------- */
.projects-page {
  background: #BFCEBF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.projects-heading {
  color:var(--black);
  padding-top: 30px;
}
.scroll-container {
    background:var(--offer-white);
    width: 35rem;
    height: 25rem;
    overflow: auto;
    margin: auto;
    box-shadow: var(--shadow);
}
.long-container {
  background:var(--offer-white);
  width: 35rem;
  height: 12000px;
  display: flex;
  flex-direction: row;
}
.center-projects {
  height: 100%;
  width: 35rem;
  background: var(--white);
}
.project-image{
  height:14rem;
  width: 20rem;
  margin: 0 auto;
  padding: 10px 0;
  box-shadow: var(--shadow);
}


/* ---------------------- page 4 ---------------------------------- */

.contact-page {
  background: var(--offer-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contact-me-heading {
  padding-top: 40px;
}

.form-wrapper {
  margin: 0 auto;
  width: 50%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
  box-shadow: var(--shadow);
	background-color:#DFDBC6;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: 'Nunito', sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: var(--offer-white);
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  box-shadow: var(--shadow);
}

.feedback-input:focus{
  box-shadow: 0;
  background-color: #BFCEBF;
  border: 3px solid var(--black);
	color: var(--black);
	outline: none;
  padding: 13px 13px 13px 54px;
  box-shadow: var(--shadow-lg)
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-color: var(--blue);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-color: var(--blond);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:var(--offer-white);
}

#button-blue{
	float:left;
	width: 100%;
	border: var(--black) solid 4px;
	cursor:pointer;
	background-color: var(--offer-white);
	color:var(--black);
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  box-shadow: var(--shadow);
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: var(--black);
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: var(--orange);
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:var(--orange);
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  :root {
    font-size:11px;
  }
  .navbar .nav-items {
    width: 40%;
  }
  .me {
    height: 260px;
    width: 260px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  :root {
    font-size:12px;
  }
  .navbar .nav-items {
    width: 30%;
  }
  .navbar {
    top: 0;
    height: 40px;
  }
  .me {
    height: 270px;
    width: 270px;
  }

  .background-image {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-container {
    width: 50vw;
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  :root {
    font-size:13px;
  }
  .navbar {
    height: 50px;
  }
  .me {
    margin-top: 200px;
    height: 300px;
    width: 300px;
  }
  .about-me-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .image-container {
    height: 100vh;
    display: flex;
  }

  .about-me-heading {
    margin-top: 150px;
  }


 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  :root {
    font-size:13.5px;
  }
 } 