/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  list-style: none;
}

/* Variables */
:root {
  --shadow:	    0 2px 4px 0 rgba(0,0,0,0.10);
  --shadow-md:  0 4px 8px 0 rgba(0,0,0,0.12),
                  0 2px 4px 0 rgba(0,0,0,0.08);
  --shadow-lg:	0 15px 30px 0 rgba(0,0,0,0.11),
                  0 5px 15px 0 rgba(0,0,0,0.08);
  --orange-shadow-md:  0 4px 8px 0 rgba(254, 153, 83, 0.1),
                 0 2px 4px 0 rgba(254, 153, 83, 0.1);
  --blue: rgb(11, 36, 251);
  --orange: rgb(254, 153, 83);
  --black: #06111b;
  --white: rgb(255, 255, 255);
  --off-white: rgb(250, 250, 250);
  --offer-white: rgb(244, 244, 244);
  font-size:10px;
  }

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
/* body { nice colors?
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
  color: #cbc6c1;
} */

.heading {
font-size: 5rem;
margin: 0 auto;
font-family: 'ZCOOL XiaoWei', serif;
}
h2 {
  font-size: 2.5rem;
  font: bold;
  font-family: 'ZCOOL XiaoWei', serif;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font: bold;
  font-family: 'ZCOOL XiaoWei', serif;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.center-text {
  margin: 0 auto;
  font-size:1.25rem;
  text-align: center;
  padding: 0 5px;
}
.italic {
  font-style: italic;
  font-size: 1.2rem;
}
.icon {
  font-size:5rem;
}

.wrapper {
  height: 10000px;
  background: white;
  display: flex;
  flex-direction: column;
}
/* ~~~~~~~~~~~~~~~~ background ~~~~~~~~~~~~~~~~~~~ */
.background-image {
  background: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
/* ~~~~~~~~~~~~~~~~ navbar ~~~~~~~~~~~~~~~~~~~ */
.navbar {
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow);
  background:rgba(1, 1, 1, 0.1);
    right: 0;
    bottom: 0;
    left: 0;
}
.navbar .navbar-wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}
/* ~~~~~~~~~~~~~~~~ navbar items ~~~~~~~~~~~~~~~~~~~ */
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  margin: 0 10px;
}
.navbar .nav-items p {
  padding: 4px;
  font-size: 1.3em;
  border-radius: 10%;
  margin: auto;
}
.navbar .nav-items p:hover {
  background: white;
  color: black;
}
/* ~~~~~~~~~~~~~~~~ navbar links/icons ~~~~~~~~~~~~~~~~~~~ */
.navbar .links {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.navbar .links a {
  padding: 4px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 10%;
  margin: auto;
  margin-left: 5px;
}
.navbar .links a:hover {
  background: var(--white);
  color: var(--black);
}
/* ~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~ */
.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.cut {
  border: 4px solid #ddd;
  text-align: left;
  background: linear-gradient(60deg, white 50%, transparent 50%);
} 

.text {
  font-size: 6rem;
  padding: 3rem 7rem;
  margin: 0;
  background: linear-gradient(60deg, black 50%,white 50%);
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.fit-text {
  font-size: 2.25rem;
}

.intro {
  margin-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
  color: black;
}

.angrytext {
  -webkit-animation: change-color 5s ease 2s infinite normal ;
  animation: change-color 5s ease 2s infinite normal ;
 }
 
 @-webkit-keyframes change-color {
   0%{
   color: black;
   }
   100%{
   color:white;
   }
 }
 
 @keyframes change-color {
   0%{
   color: black;
   }
   100%{
   color:white;
   }
 }

/* -------------------- cube animation and styles ------------------- */
.cube {
  display: flex;
  margin: auto; 
  height: 10rem;
  width: 10rem;
  animation : spin 5s infinite linear;
  transform-style: preserve-3d;
}
@keyframes spin {
  from { transform: rotateY(0) rotateX(0); }
  to   { transform: rotateY(-360deg) rotateX(360deg); }
}
.cube > div {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border: 5px solid black;
  
}
.cube > div:hover {
  opacity: 1;
  transition: opacity .3s linear;
}
.one { 
  transform: rotateX(90deg) translateZ(5rem); 
  background-color: white;
  
}
.two { 
  transform: translateZ(5rem); 
  background-color: white;
  
}
.three { 
  transform: rotateY(90deg) translateZ(5rem); 
  background-color: red;
  
}
.four { 
  transform: rotateY(180deg) translateZ(5rem); 
  background-color: white;
  
}
.five { 
  transform: rotateY(-90deg) translateZ(5rem); 
  background-color: white;
  opacity: .3;
}
.six { 
  transform: rotateX(-90deg) translateZ(5rem); 
  background-color: white;
  opacity: .3;
}

/*------------------- PAGE 2 --------------------- */
.about-me-page {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.image-container {
  background: black;
  width: 100vw;
  height: 45vh;
  display: flex;
}
.me {
  filter: grayscale(100%);
  height: 45vh;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}
.about-me-container {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.about-me-text {
  /* margin: 20px; */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 500px;
}

/*------------------- PAGE 3 --------------------- */
.projects-page {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.projects-heading {
  color:white;
  padding-top: 30px;
}
.scroll-container {
    background:var(--offer-white);
    width: 30rem;
    height: 25rem;
    overflow: auto;
    margin: auto;
}
.long-container {
  background:var(--offer-white);
  width: 30rem;
  height: 12000px;
  display: flex;
  flex-direction: row;
}
.center-projects {
  height: 100%;
  width: 30rem;
  background: grey;
}
.project-image{
  height:12rem;
  width: 17rem;
  margin: 0 auto;
  padding: 10px 0;
}


/* ---------------------- page 4 ---------------------------------- */

.contact-page {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contact-me-heading {
  padding-top: 40px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  max-width: 500px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875rem;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875rem;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875rem;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875rem;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  width: 100%;
  height: 30px;

  padding-top: 20px;
  text-align: center;
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 100%;
  max-width: 500px;
  height: 10rem;
  padding-top: 20px;
  text-align: center;
  background: transparent;
  outline: none;
  color: #726659;
  font-size: 0.875rem;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width:100%;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}







 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  :root {
    font-size:11px;
  }
  .navbar .nav-items {
    width: 40%;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  :root {
    font-size:12px;
  }
  .navbar .nav-items {
    width: 30%;
  }
  .navbar {
    top: 0;
  }

  .background-image {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-container {
    width: 50vw;
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  :root {
    font-size:13px;
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  :root {
    font-size:13.5px;
  }
 } 